@using MudBlazor
@using System.Runtime.Versioning
@using Microsoft.Graph.Models
@using NikoNikoTeams.Entities


<div>
  <MudGrid>
    @foreach (var item in NikoMood.Items)
    {
      <MudTooltip Arrow="true"
                  Text="@item.ImageName"
                  Class="p-0 ml-0 mt-4"
                  Placement="Placement.Top">
        <MudStack AlignItems="AlignItems.Center"
                  @onclick="(()=>AddMood(item))"
                  Row="true"
                  Spacing="0"
                  Style="padding-top: 0px">

          @* <MudButton OnClick="@(()=>AddMood(item))"> *@

          <MudImage Alt="@item.ImageName"
                    Height="50"
                    Src="@item.ImageSource"
                    Width="50" />
          @* </MudButton> *@
        </MudStack>
      </MudTooltip>

    }
  </MudGrid>

  <MudTable Hover="true"
            Items="@MoodList"
            Class="ma-5">

    <HeaderContent>
      <MudTh>Sun</MudTh>
      <MudTh>Mon</MudTh>
      <MudTh>Tues</MudTh>
      <MudTh>Wed</MudTh>
      <MudTh>Thurs</MudTh>
      <MudTh>Fri</MudTh>
      <MudTh>Sat</MudTh>
    </HeaderContent>

    <RowTemplate>
      <MudTd>
        <MudImage Alt="@context.ImageName"
                  Height="50"
                  Src="@context.ImageSource"
                  Width="50"/>
      </MudTd>
      
      <MudTd>
        <MudImage Alt="@context.ImageName"
                  Height="50"
                  Src="@context.ImageSource"
                  Width="50"/>
      </MudTd>
      
      <MudTd>
        <MudImage Alt="@context.ImageName"
                  Height="50"
                  Src="@context.ImageSource"
                  Width="50"/>
      </MudTd>
      
      <MudTd>
        <MudImage Alt="@context.ImageName"
                  Height="50"
                  Src="@context.ImageSource"
                  Width="50"/>
      </MudTd>
      
      <MudTd>
        <MudImage Alt="@context.ImageName"
                  Height="50"
                  Src="@context.ImageSource"
                  Width="50"/>
      </MudTd>
      
      <MudTd>
        <MudImage Alt="@context.ImageName"
                  Height="50"
                  Src="@context.ImageSource"
                  Width="50"/>
      </MudTd>
      
      <MudTd>
        <MudImage Alt="@context.ImageName"
                  Height="50"
                  Src="@context.ImageSource"
                  Width="50"/>
      </MudTd>

    </RowTemplate>
  </MudTable>

</div>

            
