@using MudBlazor
@using System.Runtime.Versioning
@using Microsoft.Graph.Models
@using NikoNikoTeams.Entities


<div>
  <MudGrid>
    @foreach (var item in NikoMood.Items)
    {
      <MudTooltip Arrow="true"
                  Text="@item.ImageName"
                  Class="p-0 ml-0 mt-4"
                  Placement="Placement.Top">
        <MudStack AlignItems="AlignItems.Center"
                  Row="true"
                  Spacing="0"
                  Style="padding-top: 0px">

          <MudImage Alt="@item.ImageName"
                    Height="50"
                    Src="@item.ImageSource"
                    Width="50" />
        </MudStack>
      </MudTooltip>
    }
  </MudGrid>
  
  
  <
    @using MudBlazor

    <MudTable Items="@items">
        <MudTableColumn>
            <Template Context="context">
                <MudDatePicker Date="@context.Date" PickerVariant="PickerVariant.Static" />
            </Template>
        </MudTableColumn>
    </MudTable>

    @code {
        public class Item
        {
            public DateTime Date { get; set; }
        }

        List<Item> items = new List<Item>
        {
            new Item { Date = DateTime.Now },
            // Add more items as needed
        };
    }

</div>
