@using MudBlazor
@using System.Runtime.Versioning
@using Microsoft.Graph.Models
@using NikoNikoTeams.Entities


<div>
  <MudGrid>
    <MudCard Elevation="5">
    @foreach (var item in NikoMood.Items)
    {
      <MudTooltip Arrow="true"
                  Text="@item.ImageName"
                  Class="p-0 ml-0 mt-4"
                  Placement="Placement.Top">
        <MudStack AlignItems="AlignItems.Center"
                  @onclick="(() => AddMood(item))"
                  Row="true"
                  Spacing="0"
                  Style="padding-top: 0px">
          <MudImage Alt="@item.ImageName"
                    Height="50"
                    Src="@item.ImageSource"
                    Width="50"/>
        </MudStack>
      </MudTooltip>
    }
    </MudCard>
  </MudGrid>


  <MudGrid Class="mt-8">
@*     @foreach (var day in Enum.GetValues(typeof(DayOfWeek)))
    {
      <MudStack Row="true" Class="ma-4">
        <MudText>@(day)</MudText>
      </MudStack>
    } *@

    @foreach (var mood in MoodList)
    {
      <MudStack Class="ma-4"
                AlignItems="AlignItems.Center"
                Row="true">
        <MudImage Height="50" 
                  Src="@mood.ImageSource" 
                  Width="50" />
        <MudText>@mood.DateEntered</MudText>
      </MudStack>
    }


  </MudGrid>


</div>


